<div data-role="page" data-url="<%= request.path %>">
  <%= render 'layouts/header' %>
  <div data-role="content">
		<h1>Contact Us</h1>	
		<br>
			<h3>Address</h3>
			<p><strong>Car Next Door</strong></p>
			<p>Level 2</p>
			<p>608 Harris St</p>
			<p>Ultimo NSW 2007</p>
			<p>AUSTRALIA</p>
		<br>	
			<h3>Phone Number</h3>
			<p id="phone"><a href="02 8035 8000">(02) 8035 8000</a></p>
		<br>
			<h3>Fax</h3>
			<p id="fax">(02) 8669 4151</p>
		<br>
			<h3>Email Address</h3>
			<address>
				<p>
					<a href="mailto:info@carnextdoor.com.au">info@carnextdoor.com.au</a>
				</p>
			</address>
		<br>
			<h3>Roadside Assistance</h3>
			<p><a href="1800 225 111">1800 225 111</a></p>
		<br>
			<p>For detailed support information, please visit the:</p>
			<a href="https://carnextdoor.zendesk.com/home">Support Centre</a>
		<br>
</br>
  </div>  
  <%= render 'layouts/footer' %> 
</div>


    