<div data-role="page" data-url="<%= request.path %>">
  <%= render 'layouts/header' %>
  <div data-role="content">
    <p> Your reservation id: </p> <%= @reservation[:id] %> <p> has been cancelled. </p>     
  </div>
  <%= render 'layouts/footer' %> 
</div>