<div data-role="page" data-url="<%= request.path %>" data-theme="b" data-content-theme="b" >
    <%= render 'layouts/header' %>
	
    <div data-role="content">
		<p> Your reservation id: <%= params[:id] %> has been cancelled. </p>     
    </div>
	
    <%= render 'layouts/footer' %> 
</div>