<h1>New Reservation</h1>

<!-- just the xml printing for now cuz it looks messy without it
<div style="width:300px;height:300px;line-height:3em;overflow:scroll;padding:5px;background-color:#FCFADD;color:#714D03;border:4px double #DEBB07;">
<%= @vehicle_array %>
</div> -->

<!-- select box which should contain all the vehicle choices -->
<form>
  <label for="select-native-s">Select:</label>
  <select name="select-native-s" id="select-native-s">
    <% @vehicle_array.each do |vehicle| %>
      <option value= <%= vehicle[:id] %>><%= vehicle[:descr] %></option>
    <% end %>
  </select>
</form>
