<% if !cookies[:username].nil? %>
  <div class="text-center">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-header">&nbsp&nbsp&nbsp&nbsp
	    <%=  link_to "Home", reservation_path, method:"get" %> &nbsp&nbsp&nbsp
        <%=  link_to "Reserve", newreservation_path, method:"get" %> &nbsp&nbsp&nbsp
        <%=  link_to "Manage", manageReservations_path, method:"get" %>&nbsp&nbsp&nbsp
        <%=  link_to "Profile", profile_path, method:"get" %>&nbsp&nbsp&nbsp
      </div>
    </div>
  </div>
<% end %>