<div data-role="header">
  <h1>Car Next Door</h1>
  
  <%= link_to "Contact Us", contact_path, {"data-role" => "button" } %>
  <%= link_to "Sign out", signout_path, { :method => "delete", "data-role" => "button"} %>
  
</div>